<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.etrice.generator.launch.c.launchConfigurationType">
<booleanAttribute key="DataLogging" value="true"/>
<booleanAttribute key="Debug" value="false"/>
<booleanAttribute key="GenDocumentation" value="false"/>
<booleanAttribute key="GenInstanceDiagram" value="false"/>
<stringAttribute key="GenModelPath" value=""/>
<booleanAttribute key="Lib" value="false"/>
<booleanAttribute key="MSC" value="true"/>
<stringAttribute key="MainMethodName" value="etStart"/>
<listAttribute key="ModelFiles">
<listEntry value="${workspace_loc:/SimScratchProj_HW_10/model/SimScratchProj_HW_10.etphys}"/>
<listEntry value="${workspace_loc:/SimScratchProj_HW_10/model/SimScratchProj_HW_10.room}"/>
</listAttribute>
<booleanAttribute key="OverrideDirectories" value="false"/>
<booleanAttribute key="SaveGenModel" value="false"/>
<booleanAttribute key="UseTranslation" value="true"/>
<booleanAttribute key="Verbose" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
