ConfigModel FischerTechnikConfig {
//	import model "GenericLineElements.room"
//	import model "Actuators.room"
//	import Fischertechnik.* from "Fischertechnik.room"
//	
//	SubSystemConfig MachineSystem / subSystem {
//		dynamic configuration {
//			file path "tmp/FischertechnikConfig" polling_timer [ms] 2000
//		}
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller {
//		Attr onlineTime = 0 {
//			dynamic configuration write
//		}
//		Attr startTimestamp = "na" {
//			dynamic configuration write
//		}
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / SourceSensor1 {
//		Attr sensorChannel = 0
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / BeltStation2 / Belt {
//		Attr sensorChannel = 1
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / BeltStation2 / Belt / BeltDrive {
//		Attr lrChannel = 0
//		Attr startChannel = 1
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation4 / Belt {
//		Attr sensorChannel = 4
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation4 / Belt / BeltDrive {
//		Attr lrChannel = 4
//		Attr startChannel = 5
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation4 / ProductionUnit {
//		Attr processedUnits {
//			dynamic configuration write
//		}
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation4 / ProductionUnit / StationDrive {
//		Attr lrChannel = 6
//		Attr startChannel = 7
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / PusherStation3 / Pusher / PusherHW {
//		Attr sensorFrontChannel = 2
//		Attr sensorBackChannel = 3
//	}
//
//	ActorClassConfig Actuators.ProcessingStation {
//		Attr processedUnits = 0
//	}
//
//	ActorClassConfig GenericLineElements.GenericInlineStation {
//		Attr processingActive = false
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / PusherStation3 / Pusher / PusherHW / Drive {
//		Attr lrChannel = 2
//		Attr startChannel = 3
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation4 / InlineStation {
//		Attr processingActive = true
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation5 / InlineStation {
//		Attr processingActive = true
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation5 / Belt / BeltDrive {
//		Attr lrChannel = 8
//		Attr startChannel = 9
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation5 / Belt {
//		Attr sensorChannel = 5
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation5 / ProductionUnit / StationDrive {
//		Attr lrChannel = 10
//		Attr startChannel = 11
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / ProductionStation5 / ProductionUnit {
//		Attr processedUnits {
//			dynamic configuration write
//		}
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / PusherStation6 / Pusher / PusherHW {
//		Attr sensorFrontChannel = 6
//		Attr sensorBackChannel = 7
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / PusherStation6 / Pusher / PusherHW / Drive {
//		Attr lrChannel = 12
//		Attr startChannel = 13
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / BeltStation7 / Belt {
//		Attr sensorChannel = 8
//	}
//
//	ActorInstanceConfig MachineSystem / subSystem / Controller / BeltStation7 / Belt / BeltDrive {
//		Attr lrChannel = 14
//		Attr startChannel = 15
//	}
//
}
