ConfigModel Elevator {
	import model "PCANDemo.room"
	
	ActorInstanceConfig PCANDemo.PCANDemo / main / driver  {
		InterfaceItem canTx {
			Attr pChannel = 0x01000000
			//0x01000000
			}
	}
	ActorInstanceConfig PCANDemo.PCANDemo / main / vehicleSim {
		InterfaceItem canRx {
			Attr pChannel = 0x03000008
			//0x03000008
		}
		InterfaceItem canTx {
			Attr pChannel = 0x03000001
			//0x03000001
		}		
	}

//	ActorInstanceConfig PCANDemo.PCANDemo/main/appl/ping {
//		InterfaceItem canRx{
//			Attr pChannel=0x02
//		}
//		InterfaceItem canTx{
//			Attr pChannel=0x03
//		}
//	}
//	ActorInstanceConfig PCANDemo.PCANDemo/main/can {
//		Attr pollTime=500
//	}
}

