ConfigModel hexagon {
	import model "XMC2GoDemoModel.room"

	ActorInstanceConfig XMC2GoDemoModel.PingPong_LogSys / PingPong_subSysRef / pingPong / dimmer {
		Attr instance = 0
	}
	ActorInstanceConfig XMC2GoDemoModel.PingPong_LogSys / PingPong_subSysRef / pingPong / dimmer2 {
		Attr instance = 1
	}
}
