ConfigModel FischertechnikBBB {
	import model "FischertechnikBBB.room"

	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/sourceSensor {
		InterfaceItem sensor{
			//Node.Memory.InputStation.InSensor1 => Id = 0
			Attr pChannel=0
		}
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/inputStation/Belt {
		InterfaceItem sensor{
			//Node.Memory.InputStation.InSensor2 => Id = 1
			Attr pChannel=1
		}
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/inputStation/Belt/BeltDrive {
		InterfaceItem lr{
			//Node.Memory.InputStation.Band1Direction => Id = 0
			Attr pChannel=0
		}
		InterfaceItem start{
			//Node.Memory.InputStation.Band1Power => Id = 1
			Attr pChannel=1
		}
		
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/pusherStation1/Pusher/PusherHW{
		InterfaceItem sensorFront{
			//Node.Memory.PusherStation1.SensorP1Front
			Attr pChannel=2
		}
		InterfaceItem sensorBack{
			//Node.Memory.PusherStation1.SensorP1Back
			Attr pChannel=3
		}
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/pusherStation1/Pusher/PusherHW/Drive{
		InterfaceItem lr{
			//Node.Memory.PusherStation1.Pusher1Direction
			Attr pChannel=2
		}
		InterfaceItem start{
			//Node.Memory.PusherStation1.Pusher1Power
			Attr pChannel=3
		}		
	}	
	
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/fraese/Belt{
		InterfaceItem sensor{
			//Node.Memory.ProductStation1.SensorFraese
			Attr pChannel=4
		}	
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/fraese/Belt/BeltDrive{
		InterfaceItem lr{
			//Node.Memory.ProductStation1.Band2Direction
			Attr pChannel=4
		}
		InterfaceItem start{
			//Node.Memory.ProductStation1.Power
			Attr pChannel=5
		}
	}
	
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/fraese/InlineStation{
		Attr processingActive=true		
	}
	
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/fraese/ProductionUnit/StationDrive{
		InterfaceItem lr{
			//Node.Memory.ProductStation1.FraeseDirection
			Attr pChannel=6
		}
		InterfaceItem start{
			//Node.Memory.ProductStation1.FraesePower
			Attr pChannel=7
		}
	}
	


	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/bohrer/Belt{
		InterfaceItem sensor{
			//Node.Memory.ProductStation2.SensorFraese
			Attr pChannel=5
		}	
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/bohrer/Belt/BeltDrive{
		InterfaceItem lr{
			//Node.Memory.ProductStation2.Band2Direction
			Attr pChannel=8
		}
		InterfaceItem start{
			//Node.Memory.ProductStation2.Power
			Attr pChannel=9
		}
	}
	
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/bohrer/InlineStation{
		Attr processingActive=true		
	}
	
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/bohrer/ProductionUnit/StationDrive{
		InterfaceItem lr{
			//Node.Memory.ProductStation1.BohrerDirection
			Attr pChannel=10
		}
		InterfaceItem start{
			//Node.Memory.ProductStation1.BohrerPower
			Attr pChannel=11
		}
	}

	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/pusherStation2/Pusher/PusherHW{
		InterfaceItem sensorFront{
			//Node.Memory.PusherStation2.SensorP2Front
			Attr pChannel=6
		}
		InterfaceItem sensorBack{
			//Node.Memory.PusherStation1.SensorP2Back
			Attr pChannel=7
		}
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/pusherStation2/Pusher/PusherHW/Drive{
		InterfaceItem lr{
			//Node.Memory.PusherStation2.Pusher2Direction
			Attr pChannel=12
		}
		InterfaceItem start{
			//Node.Memory.PusherStation2.Pusher2Power
			Attr pChannel=13
		}		
	}	

	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/endStation/Belt {
		InterfaceItem sensor{
			//Node.Memory.EndStation.EndSensor
			Attr pChannel=8
		}
	}
	ActorInstanceConfig FischertechnikBBB.FischertechnikBBB/main/machineControl/endStation/Belt/BeltDrive {
		InterfaceItem lr{
			//Node.Memory.EndStation.Band4Direction
			Attr pChannel=14
		}
		InterfaceItem start{
			//Node.Memory.EndStation.Band4Power
			Attr pChannel=15
		}
	}
}
